@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.corpo{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.conteiner{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0 10%;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonCabeclho{
    width: 150px;
    height: 40px;
    margin:0 8px ;
    background-color: #0A99FE;
    color: #ffffff;
    border: #0A99FE;
    border-radius: 4px;
    font-size: 20px;
}

.buttonCabeclho:nth-child(2){
    background-color: #0a98fe15;
    color: #0A99FE;
}

.sectionPaintig{
    display: flex;
    flex-direction: column;

}

.sectionAction{
    display: flex;
    flex-direction: column;
    
}

.titleH1{
    color: #1B1B1B;
    font-size: 20px;
    padding-bottom: 10px;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    margin: 0;
    padding: 0;
    width: 207px;
    height: 275px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

img{
    margin: 0;
    padding: 0;
    width: 207px;
    height: 180px;
    border-radius: 5px;
}

h2{
    color: #1B1B1B;
    font-size: 20px;
}

p{
    color: #868383;
    font-size: 16px;
}









